project:
  type: website
  render:
    - "*.qmd"
    - "!*.ipynb"

website:
  title: "ToK-explorer"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd
      - href: "ToK_relative.qmd"
        text: "Relative word frequencies"
      - href: "ToK_baseline.qmd"
        text: "Baselines"
    right:
      - icon: github
        href: "https://github.com/DigitalHistory-Lund/ToK-explorer"
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    page-layout: full
