project:
  type: website
  render:
    - "*.qmd"
    - "!*.ipynb"

website:
  title: "ToK-explorer"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    page-layout: full
